body {


  margin: 0;
  font-family: 'Inter', sans-serif;
  background: url('https://images.unsplash.com/photo-1501973801540-537f08ccae7b') no-repeat center center fixed;
  background-size: cover;
  color: #333;
  height: 100vh;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
